<deployment>
   <hosts>
    <host name="localhost"
          dir="/Users/Grey/workspace/EndPhase/src/app"/>
  </hosts>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55998"/>
  <jvms2hostnames>
    <jvm2hostname jvmuri="controleur"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="app.DistributedCVM"/>
    <jvm2hostname jvmuri="frigo"
        rmiRegistryCreator="false"
        hostname="localhost" 
        mainclass="app.DistributedCVM"/>
    <jvm2hostname jvmuri="ordinateur"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="app.DistributedCVM"/>
    <jvm2hostname jvmuri="chargeur"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="app.DistributedCVM"/>
    <jvm2hostname jvmuri="compteur"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="app.DistributedCVM"/>
    <jvm2hostname jvmuri="batterie"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="app.DistributedCVM"/>
    <jvm2hostname jvmuri="panneau"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="app.DistributedCVM"/>
  </jvms2hostnames>
</deployment>