<deployment>
   <hosts>
    <host name="localhost"
          dir="/Users/Grey/workspace/EndPhase/src/app"/> <!--  Modifier le path ici -->
  </hosts>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55998"/>
  <jvms2hostnames>
    <jvm2hostname jvmuri="JVM_DYNAMIC_ASSEMBLEUR_URI"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="app.DistributedCVM"/>
    <jvm2hostname jvmuri="JVM_CONTROLEUR_URI"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="app.DistributedCVM"/>
    <jvm2hostname jvmuri="JVM_FRIGO_URI"
        rmiRegistryCreator="false"
        hostname="localhost" 
        mainclass="app.DistributedCVM"/>
    <jvm2hostname jvmuri="JVM_LAVELINGE_URI"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="app.DistributedCVM"/>
    <jvm2hostname jvmuri="JVM_ORDINATEUR_URI"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="app.DistributedCVM"/>
    <jvm2hostname jvmuri="JVM_PANNEAUSOLAIRE_URI"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="app.DistributedCVM"/>
    <jvm2hostname jvmuri="JVM_BATTERIE_URI"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="app.DistributedCVM"/>
    <jvm2hostname jvmuri="JVM_COMPTEUR_URI"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="app.DistributedCVM"/>
  </jvms2hostnames>
</deployment>